.navbar {
    background-color: var(--sea-blue);
    color: var(--white);
    border-radius: 30% 30% 0% 0%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    padding: 0.25rem 1rem 1rem 1rem;
    position: fixed;
    transition: 0.4s bottom;
}

.navbar ul {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.navbar li {
    text-align: center;
}

.navbar a {
    transition: 0.4s all;
    color: var(--white)
}

.navlink {
    background-color: var(--dark-blue);
    padding: 10px 12px;
    border-radius: 50%;
}

.active {
    color: var(--yellow);
    background-color: var(--yellow);
    border-radius: 50%;
    padding: 10px 12px;
}

.navbar a:visited {
    color: var(--white)
}

.navlines{
    width: 70%;
    margin: 0 auto;
    cursor: pointer;
}

.navline {
    background-color: var(--white);
    height: 100%;
    width: 100%;
    margin: 5px;
}

.extend {
    bottom: 0vh;
}

@media screen and (min-width: 270px) {
    .navbar {
        height: 120px;
        bottom: -80px;
    }

    .extend {
        bottom: 0vh;
    }

    .navlines{
        width: 60%;
    }
}

/* The fold ): */
@media screen and (max-width: 300px) {
    .navbar ul {
        gap: 0.25rem;
    }

    .navlink, .active {
        padding: 6px 8px;
    }
}