.navbar {
    background-color: var(--sea-blue);
    color: var(--white);
    border-radius: 30% 30% 0% 0%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 20vh;
    padding: 0.5rem 1rem 1rem 1rem;
    position: absolute;
    bottom: -15vh;
    transition: 0.4s bottom;
}

.navbar ul {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.navbar li {
    text-align: center;
}

.navbar a {
    transition: 0.4s all;
}

.navlink {
    background-color: var(--dark-blue);
    padding: 10px 12px;
    border-radius: 50%;
}

.active {
    color: var(--yellow);
    background-color: var(--yellow);
    border-radius: 50%;
    padding: 10px 12px;
}

.navbar a:visited {
    color: var(--white)
}

.navlines{
    width: 70%;
    margin: 0 auto 0 auto;
}

.navline {
    background-color: var(--white);
    height: 100%;
    width: 100%;
    margin: 2px;
}

.extend {
    bottom: 0vh;
}

@media screen and (min-width: 400px) {
    .navbar {
        height: 30vh;
        bottom: -22vh;
    }

    .extend {
        bottom: 0vh;
    }

    .navlines{
        width: 50%;
        margin: 0 auto 0 auto;
    }
}