.home {
  color: var(--dark-blue);
 padding: 0.5rem;
}

.home header {
  text-align: center;
}

.graph {
  padding: 4px;
  border-radius: 4px;
}

.graphContainer {
  border: 2px solid var(--orange);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 0.5rem;
  border-radius: 4px;
  width: 90vw;
  max-width: 1200px;
  margin: 1rem auto;
}