.invoicing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--dark-blue);
}

.container {
    max-width: 90vw;
    max-height: 70vh;
    text-align: center;

}

.container img {
    height: 100%;
    width: 100%;
}