.landing {
  background: url("../../img/landing.svg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.landing header {
  margin-top: 25vh;
  margin-bottom: 4rem;
}

.landing a {
  color: white;
  border: 2px solid var(--white);
}

.landing a:visited {
  color: white;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1250px) {
  .cards {
    flex-direction: row;
    gap: 9vw;
    margin: 0 0.5rem;
  }
}