.wrapper {
  max-height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table thead {
  background-color: var(--sea-blue);
  width: 100%;
  position: sticky;
}

.table thead tr {
  position: sticky;
  top: 0;
}

.table th {
  background-color: var(--sea-blue);
  color: var(--white);
  text-align: start;
  padding: 0.5rem 0.25rem;
}

@media screen and (max-width: 800px) {
  .table thead {
    font-size: 0.75rem;
  }
}