.row {
    border-bottom: 1px solid var(--yellow)
}

.row td {
    padding: 0.5rem  0 0.5rem 0.25rem;
}

.info {
  color: var(--orange);
  font-size: 1rem;
  transition: 0.2s all;
}

.info:visited {
  color: var(--orange);
}

.info:hover {
  color: var(--yellow);
  transform: scale(1.2);
}

.info:active {
  color: var(--yellow);
  transform: scale(1.2);
}


@media screen and (max-width: 800px) {
    .row {
        font-size: 0.75rem;
    }
}   

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 800px) {

}