.row {
    border-bottom: 1px solid var(--yellow)
}

.row td {
    padding: 0.5rem  0 0.5rem 0.25rem;
}

@media screen and (max-width: 800px) {
    .row {
        font-size: 0.75rem;
    }
}   

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 800px) {

}