.customerRow {
    display: flex;
    font-size: 0.75rem;
    border-bottom: 1px solid var(--yellow);
}

.item {
    padding: 1rem 0.5rem;;
    border-right: 1px solid var(--dark-blue);
    width: 33.3%;
}