.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--yellow);
    border-right: 1px solid var(--dark-blue);
    font-size: 0.75rem;
    height: 80px;
}

.item {
    border-left: 1px solid var(--dark-blue);
    width: 25%;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1rem;
}

.link {
    color: var(--orange);
    text-decoration: underline;
    transition: 0.2s all;
    /* font-size: 1rem; */
}

.link:hover {
    color: var(--yellow);
}

.link:visited {
    color: var(--orange);
}

.paid {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 8px 8px;
    border-radius: 4px;
}

.outstanding {
    background-color: var(--orange);
    color: var(--white);
    padding: 8px 8px;
    border-radius: 4px;
}

@media screen and (max-width: 600px) {
    .paid {
        padding: 6px 6px;
    }
    
    .outstanding {
        padding: 6px 6px;
    }

    .item {
        padding-left: 0.25rem;
    }

    .link {
        font-size: 0.75rem;
    }
}

@media screen and (max-width:500px) {
    .paid {
        padding: 2px 2px;
    }
    
    .outstanding {
        padding: 2px 2px;
    }

    .item {
        font-size: 0.6rem;
    }

    .link {
        font-size: 0.65rem;
    }
}