.invoiceDetail header {
    background-color: var(--dark-blue);
    color: var(--white);
    text-align: center;
    padding: 1rem 20vw;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.invoiceDetail button {
    margin: 0.25rem;
}

.details {
   margin: 2rem auto 1rem auto;
   max-width: 1000px;
   
   border: 1px solid #f4f4f4;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   border-radius: 4px;
   padding: 1rem;

}

.invoiceDetail a {
    color: var(--white);
    text-decoration: underline;
}

.invoiceDetail a:visited {
    color: var(--white);
    text-decoration: underline;
}

.details p {
    border-bottom: 1px solid var(--o-dark-blue);
    margin-bottom: 0.5rem;
    padding: 0.25rem;
}

.paid {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 2px 8px;
    border-radius: 4px;
}

.outstanding {
    background-color: var(--orange);
    color: var(--white);
    padding: 2px 8px;
    border-radius: 4px;
}

.authForm {
    background-color: var(--dark-blue);
    color: var(--white);
    width: fit-content;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    border-radius: 4px;
}

.authForm p {
    margin-bottom: 1rem;
}