@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:wght@300;400;700&display=swap');

:root {
    --sky-blue: rgb(142, 202, 230);
    --sea-blue: rgb(33, 158, 188);
    --dark-blue: rgb(2, 48, 71);
    --o-dark-blue: rgb(2, 48, 71, 0.5);
    --yellow: rgb(255, 183, 3);
    --o-yellow: rgba(255, 183, 3, 0.5);
    --orange: rgb(251, 133, 0);
    --o-orange: rgb(251, 133, 0, 0.5);
    --white: rgb(255, 255, 255);
    --success-bg: rgb(74, 214, 109)
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
  list-style: none;
}

#root {
  overflow-x: hidden;
}

/* //////// */
/* Buttons */
/* //////// */
.btn-dark-blue {
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  transition: 0.2s all;
  cursor: pointer;
}

.btn-dark-blue:hover {
  background-color: var(--o-dark-blue);
}

.btn-dark-blue:active {
background-color: var(--yellow);
}

/* //////// */
/* Elements */
/* //////// */
.sea-blue-divide {
  height: 2px;
  width: 100%;
  background-color: var(--sea-blue);
  margin: 0.5rem 0;
}